<footer class="container flex justify-around py-8 mx-auto bg-white">
  <div class="">
    © <%= Date.current.year %> Copyright &#8226;
    <a class="text-gray-800" href="/">vranista.com</a>
  </div>
</footer>
