<nav class="container flex justify-around py-8 mx-auto bg-white">
    <div>
		<div class="cursor-pointer my-2 ml-6 relative rounded-full w-12 h-12">
			<%= image_tag("logo.jpg", width: 100) %>
		</div>
	</div>
    <div class="space-x-8">
		<a href="">Home</a>
		<a href="">About Us</a>
		<a href="">Our Team</a>
		<a href="">Contact Us</a>
    </div>
</nav>
